<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/CSS/main.css" />
  </head>
  <body>
    <div class="navbar">
      <nav>
        <a href="/shop">Shop</a>
        <a href="/admin/add-product">Add Product</a>
        <a href="/contactus">Contact us</a>
      </nav>
    </div>
    <div class="form-data">
      <form action="/success" method="POST">
        <label for="name"> Name</label>
        <input type="text" name="userName" id="name" />
        <label for="email">Email</label>
        <input type="email" name="userEmail" id="email" />
        <button type="submit">Send</button>
      </form>
    </div>
  </body>
</html>
